* {
    padding: 0;
    margin: 0;
    border: 0;
}

body {
    width: 100%;
    font-family: "roboto";
    color: rgb(72, 72, 72);
}

#articles {
    display: grid;
    width: 95%;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    margin: 24px auto 0;
    gap: 24px;
}

.article,
.comments__comment-box {
    background-color: rgb(237, 237, 237);
    border: 1px solid rgb(225, 225, 225);
    padding: 1%;
}

.article__title,
.article__date,
.comments__comment-title,
.comments__comment {
    margin-bottom: 16px;
}

#comments {
    width: 95%;
    margin: 0 auto;
}

.comments__title {
    position:relative;
    display: inline;
}

#commentsNum {
    position: absolute;
    display: flex;
    width: 1rem;
    height: 1rem;
    top: 0;
    right: -1.8rem;
    border-radius: 50%;
    color: white;
    background-color: rgb(72, 72, 72);
    padding: 4px;
    font-size: .7rem;
    align-items: center;
    justify-content: center;
}


.comments__comment-box{
    margin: 16px auto 16px;
}

.comments__button-block {
    margin-top: 48px;
    text-align: center;
}

.comments__make-comment {
    display: inline;
    background-color: rgb(237, 237, 237);
    border: 1px solid rgb(225, 225, 225);
    padding: 8px;
    cursor: pointer;
    user-select: none;
}

.comments__comment-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment__answer-box {
    text-align: center;
}

.comments__answer {
    color: rgb(72, 72, 72);
}

#pagination {
    margin: 48px auto 48px;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    flex-wrap: wrap;
}

.pagination__item {
    background-color: rgb(237, 237, 237);
    font-size: 1rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
}

.pagination__item:hover {
    background-color: rgb(225, 225, 225);
}

.pag-active {
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    font-weight: 600;
    border: 2px solid rgb(225, 225, 225);
}